.section {
  margin-top: 10rem;
  padding-bottom: 10rem;
}

.section .container {
  max-width: 75rem;
  padding: 0 2.5rem;
  margin: 0 auto;
}

.title {
  margin-bottom: 3.5rem;
  color: #001535;
  text-align: center;
  font-size: 3rem;
  font-weight: 800;
  line-height: normal;
}

.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.content li {
  padding: 2.5rem;
  background-color: #fff;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}

.content li .info h3 {
  margin-bottom: 1rem;
  color: #121212;
  font-size: 1.625rem;
  line-height: 2rem;
}

.content li .info p {
  margin-bottom: .625rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

/* 較寬表單 */
.content .wide {
  padding: 3.875rem 2.5rem;
  border-radius: 3.75rem 3.75rem 1.5rem 1.5rem;
  grid-column: span 3;
  flex-direction: row;
}

.content .wide .info h3 {
  margin-bottom: 1.5rem !important;
  font-size: 2rem !important;
  line-height: 2.5rem !important;
}

.content .wide .info p {
  font-size: 1.25rem !important;
  line-height: 1.75rem !important;
}

/* (1)收益優勢 */
.content .wide .profit {
  text-align: center;
}

.content .wide .profit>img {
  width: 100%;
}

.content .wide .profit .greenBar {
  width: 100%;
  margin-top: 20px;
  padding: 1rem .5rem;
  border-radius: .5rem;
  background-color: #e2f0e3;
  color: #1f1f1f;
  font-size: .6875rem;
  font-weight: 700;
  line-height: 1.5;
  display: inline-flex;
  align-items: center;
  gap: .625rem;
}

/* (2)公司可靠 */
.content li .partner {
  width: 100%;
  max-height: 100%;
  margin: auto 0 0;
  aspect-ratio: 283 / 103;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.content li .partner img {
  width: 100%;
  margin-top: 2.5rem;
}

/* (3)推廣計畫 */
.content li .affiliate {
  padding: 1.25rem;
  aspect-ratio: 1 / 1;
  align-items: center;
  justify-content: center;
}

.content li .affiliate img {
  vertical-align: top;
  object-fit: cover;
}

/* (4)手續優惠 */
.content li .fee {
  height: 100%;
  color: #ff5f45;
  font-size: 6rem;
  font-weight: 700;
  text-wrap: nowrap;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content li .fee div {
  line-height: 1;
}

@media (max-width: 1200px) {
  .content {
    column-gap: calc(-43.7px + 59.7* 100vw / 1200);
  }

  .content li {
    border-radius: 2.068966vw;
    padding: 3.448276vw;
  }

  .content li .info h3 {
    margin-bottom: 1.37931vw;
    font-size: 2.241379vw;
    line-height: 2.758621vw;
  }

  .content li .info p {
    font-size: 1.37931vw;
    line-height: 2.068966vw;
    margin-bottom: .862069vw;
  }

  /* 較寬表單 */
  .content .wide {
    border-radius: 5.172414vw 5.172414vw 2.068966vw 2.068966vw;
  }

  .content .wide .info {
    width: 44.37751%;
  }

  .content .wide .info h3 {
    margin-bottom: 2.068966vw !important;
    font-size: 2.758621vw !important;
    line-height: 3.448276vw !important;
  }

  .content .wide .info p {
    font-size: 1.724138vw !important;
    line-height: 2.413793vw !important;
  }

  /* (1)收益優勢 */
  .content .wide .profit {
    width: 40.160643%;
  }

  .content .wide .profit>img {
    width: 100%;
  }

  .content .wide .profit .greenBar {
    padding: 1.333333vw .666667vw;
    border-radius: .666667vw;
    gap: .833333vw;
    font-size: .916667vw;
  }

  .content .wide .profit .greenBar>img {
    width: 1.333333vw;
    height: 1.333333vw;
  }

  /* (2)公司可靠 */
  /* .content li .partner {} */

  /* (3)推廣計畫 */
  .content li .affiliate {
    margin: auto;
    width: 20vw;
    width: 20vw;
  }

  .content li .affiliate img {
    width: 100%;
    height: 100%;
  }

  /* (4)手續優惠 */
  .content li .fee {
    font-size: 4rem;
  }
}

@media (max-width: 1000px) {
  .section {
    margin-top: 7.5rem;
    padding-bottom: 7.5rem;
  }

  .title {
    font-size: 2.5rem;
    margin-bottom: 3rem;
  }

  .content {
    column-gap: .5625rem;
  }

  .content li {
    max-width: 25rem;
    width: 100%;
    margin: 0 auto;
    border-radius: 1.25rem;
    padding: 2rem;
  }

  .content li .info h3 {
    margin-bottom: 1.37931vw;
    font-size: 2.241379vw;
    line-height: 2.758621vw;
  }

  .content li .info p {
    font-size: 1.37931vw;
    line-height: 2.068966vw;
    margin-bottom: .862069vw;
  }

  /* 較寬表單 */
  .content .wide {
    max-width: 100%;
    min-height: 100%;
  }

  /* (1)收益優勢 */
  .content .wide .profit {
    width: 40.160643%;
  }

  .content .wide .profit>img {
    width: 100%;
  }

  .content .wide .profit .greenBar {
    padding: 1.333333vw .666667vw;
    border-radius: .666667vw;
    gap: .833333vw;
    font-size: .916667vw;
  }

  .content .wide .profit .greenBar>img {
    width: 1.333333vw;
    height: 1.333333vw;
  }

  /* (2)公司可靠 */
  /* .content li .partner {} */

  /* (3)推廣計畫 */
  /* .content li .affiliate {} */

  /* (4)手續優惠 */
  .content li .fee {
    font-size: 3.5rem;
  }
}

@media (max-width: 800px) {
  .section {
    margin-top: 6.25rem;
    padding-bottom: 6.25rem;
  }

  .section .container {
    padding: 0 1.25rem;
  }

  .title {
    font-size: 2rem;
  }

  .content {
    grid-template-columns: 1fr;
  }

  .content li {
    max-width: 25rem;
    width: 100%;
    min-height: 27.5rem;
    margin: 0 auto;
    border-radius: 1.25rem;
    padding: 2rem;
  }

  .content li .info h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 1rem;
  }

  .content li .info p {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 3.5rem;
  }

  .content .wide .info h3 {
    font-size: 1.5rem!important;
    line-height: 2rem!important;
    margin-bottom: 1rem!important;
  }

  .content .wide .info p {
    font-size: 1rem!important;
    line-height: 1.5rem!important;
    margin-bottom: 3.5rem!important;
  }

  /* 較寬表單 */
  .content .wide {
    max-width: 25rem;
    min-height: auto;
    border-radius: 2.5rem 2.5rem 1.25rem 1.25rem;
    grid-column: auto;
    flex-direction: column;
    padding: 2rem;
  }

  .content .wide .info {
    width: 100%;
  }

  /* (1)收益優勢 */
  .content .wide .profit {
    width: 100%;
  }

  .content .wide .profit .greenBar {
    padding: .6875rem .3125rem;
    border-radius: .375rem;
    gap: .375rem;
    font-size: .5rem;
  }

  .content .wide .profit .greenBar>img {
    width: .6875rem;
    height: .6875rem;
  }

  /* (2)公司可靠 */
  /* .content li .partner {} */

  /* (3)推廣計畫 */
  .content li .affiliate {
      width: 14rem;
      height: 14rem;
  }

  /* (4)手續優惠 */
  .content li .fee {
    font-size: 3.5rem;
  }
}

@media (max-width: 500px) {
  .content li {
    max-width: 25rem;
    width: 100%;
    min-height: 27.5rem;
    margin: 0 auto;
    border-radius: 1.25rem;
    padding: 2rem;
  }

  .content li .info h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 1rem;
  }

  .content li .info p {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 3.5rem;
  }

  /* 較寬表單 */
  .content .wide .info h3 {
    margin-bottom: 1rem !important;
    font-size: 1.5rem !important;
    line-height: 2rem !important;
  }

  .content .wide .info p {
    font-size: 1rem !important;
    line-height: 1.5rem !important;
    margin-bottom: 3.5rem !important;
  }

  /* (1)收益優勢 */
  .content .wide .profit .greenBar {
    margin-top: 0;
  }

  /* (2)公司可靠 */
  /* .content li .partner {} */

  /* (3)推廣計畫 */
  .content li .affiliate {
    padding: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content li .affiliate img {
    width: 16em;
  }

  /* (4) 手續優惠*/
  .content li .fee {
    font-size: 5rem;
  }
}