.main {
  width: 100%;
  position: relative;
    display: inline-block;
}

.main .codeContainer {
  padding: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: auto;
  left: 0;

  z-index: 2;
}

.main .codeContainer .selected {
  min-width: 7.125rem;
        font-size: 1rem;
  background-color: #0000000d;

    padding-left: 1rem;
    color: #3e345c;
    font-weight: 700;
    border-radius: .75rem 0 0 .75rem;

    z-index: 1;
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 6px 0 8px;
}

.main .codeContainer .selected .flag {
  width: 20px;
  height: 14px;
  background-position: -5131px 0;
  pointer-events: none;
  /* background-image: url(media/flags-5TON5ZGR.webp); */
  background-repeat: no-repeat;
    background-color: #dbdbdb;
}

.main .codeContainer .selected .code {
  margin-left: 6px;
  pointer-events: none;
}

.main .codeContainer .selected .arrow {
  width: 24px;
  height: 24px;
  margin-left: 6px;
}

.main input {
  padding: 1rem;
  width: 100%;
  border-radius: .5rem;
  border: .0625rem solid rgba(0, 0, 0, .08);
  background-color: #fff;
  color: #878199;
  font-size: 1rem;
  line-height: 1.25rem;
}